<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->

<div class="container">
  <!--div class="row">
      <div class="small-4 columns">
        <h6> Gold Sponsors </h6>
      </div>
      <div class="small-3 columns">
        <h6> Silver Sponsors </h6>
      </div>
      <div class="small-4 columns">
        <h6> Bronze Sponsors </h6>
      </div>
      <div class="small-4 columns"></div>
    </div>
    <div class="row">
      <div class="small-4 columns">
          <img src="{{ site.baseurl }}/assets/img/sponsors/cz-logo-new.png" alt="Chan Zuckerberg Initiative" display="inline-block" width="90px">
          <img src="{{ site.baseurl }}/assets/img/sponsors/facebook-logo-new.png" alt="Facebook"
          display="inline-block" width="90px">
          <img src="{{ site.baseurl }}/assets/img/sponsors/google-logo-new.png" alt="Google"
          display="inline-block" width="90px">
      </div>

      <div class="small-3 columns">
        <img src="{{ site.baseurl }}/assets/img/sponsors/diffbot-logo-new.png" alt="Diffbot"
          display="inline-block" width="90px">
        <img src="{{ site.baseurl }}/assets/img/sponsors/oracle-logo-new.png" alt="Oracle Corporation"
          display="inline-block" width="90px">
        <img src="{{ site.baseurl }}/assets/img/sponsors/nec-logo-new.png" alt="NEC"
          display="inline-block" width="180px">
      
      </div>

      <div class="small-4 columns">
	      <img src="{{ site.baseurl }}/assets/img/sponsors/elsevier-logo-new.png" alt="Elsevier"
          display="inline-block" width="90px">
        <img src="{{ site.baseurl }}/assets/img/sponsors/kenome-logo-new.jpg" alt="Kenome"
          display="inline-block" width="90px">
      </div>
      <div class="small-4 columns"></div>
    </div-->
</div>

<footer id="footer-content" class="bg-grau">
  <div id="footer">

  </div><!-- /#footer -->


  <div id="subfooter">
    <nav class="row">
      <section id="subfooter-left" class="small-12 medium-6 columns credits">
        {{ site.credits }}
      </section>

      <section id="subfooter-right" class="small-12 medium-6 columns">
        <ul class="inline-list social-icons">
          {% for social_item in site.data.socialmedia %}
          <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}"
              title="{{ social_item.title }}"></a></li>
          {% endfor %}
        </ul>
      </section>
    </nav>
  </div><!-- /#subfooter -->
</footer>