{% assign url = site.baseurl | prepend: site.url %}

<li>
    {% if include.p['archival_status'] == "Archival" %}
    <a href="{{- url -}}/papers/{{- include.p.forum_id -}}">
    {% else %}
    <a href="https://openreview.net/forum?id={{-include.p.forum_id-}}">
    {% endif %}
        {{- include.p.title -}}
    </a>

    <!-- <a href="https://openreview.net/forum?id={{-include.p.forum_id-}}">
            {{- include.p.title -}}
    </a> -->
    <!-- PDF + HTML 
        (<a href="https://openreview.net{{-include.p.pdf-}}">PDF</a>
    -->
    {% if include.p.pdf != "" %}
        (<a href="{{- url -}}/assets/pdfs/{{- include.p.forum_id -}}.pdf">PDF</a>
        {%- if include.p.html -%}
        , <a href="{{-include.p.html-}}">Website</a>
        {%- endif -%})
    {% endif %}
    <br>
    <!-- Authors -->
    <i>
        {% assign num = include.p.authorids | size %}
        {% for i in (0..num) limit: num %}
                {{ include.p.authors[i] }}
            {%- if forloop.last == true -%}
            .
            {%- else -%}
            , 
            {%- endif -%}
        {% endfor %}
    </i>
    <br>
</li>
