@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/

/* Basics
------------------------------------------------------------------- */

$text-color: #111;
$body-font-color: $text-color;
$body-bg: #fdfdfd;

/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: #3e8b81; // Lighter UMass maroon
$ci-2: #d7d7d7; // light grey
$ci-6: #24766b; // UMass maroon

$maroon: $ci-6;
$umgrey: $ci-2;

$ci-3: #efc94c; // yellow
$ci-4: #e27a3f; // orange
$ci-5: #df4949; // red

// $ci-1: #a72525;		// Lighter UMass maroon
// $ci-2: #D7D7D7;		// light grey
// $ci-6: #811c1c;   // UMass maroon

// $maroon: $ci-6;
// $umgrey: $ci-2;

// $ci-3: #EFC94C;		// yellow
// $ci-4: #E27A3F;		// orange
// $ci-5: #DF4949;		// red

/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-1;
$secondary-color: $ci-6;
$alert-color: $ci-5;
$success-color: $ci-6;
$warning-color: $ci-4;
$info-color: $ci-1;

/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #e4e4e4;
$grey-2: #d7d7d7;
$grey-3: #cbcbcb;
$grey-4: #bebebe;
$grey-5: #a4a4a4;
$grey-6: #979797;
$grey-7: #8b8b8b;
$grey-8: #7e7e7e;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4b4b4b;
$grey-12: #3e3e3e;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0b0b0b;

/* Topbar-Navigation
------------------------------------------------------------------- */

$dark-grey: $grey-16;
$light-grey: $grey-2;

$topbar-bg-color: $light-grey;
$topbar-bg: $light-grey;

$topbar-dropdown-toggle-color: $dark-grey;

$topbar-link-color: #000;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;

$topbar-dropdown-label-color: $maroon;
$topbar-dropdown-link-bg-hover: $maroon;

$topbar-link-bg-active: $maroon; // Active Navigation Link
$topbar-link-bg-hover: $maroon;
$topbar-link-bg-active-hover: $maroon;

$topbar-dropdown-bg: $grey-2; // Background Mobile Navigation
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: $ci-2;

$topbar-menu-link-color-toggled: $ci-1;
$topbar-menu-icon-color-toggled: $ci-1;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;

/* Footer
------------------------------------------------------------------- */

$footer-bg: #fff;
$footer-color: #fff;
$footer-link-color: $ci-6;

$subfooter-bg: $grey-13;
$subfooter-color: $grey-8;
$subfooter-link-color: $grey-8;

/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086b3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
